/* styles.css */

@keyframes fall {
    0% {
      transform: translateY(-10px) rotate(0deg);
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
    }
  }
  
  /* Classe para aplicar a animação */
  .fall-animation {
    animation: fall 3s infinite; /* Ajuste a duração e o modo de repetição conforme necessário */
  }
  